<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">


	<!-- <task:annotation-driven /> -->
	<!-- <context:annotation-config /> -->
	<!-- <context:component-scan base-package="main.java.com.saasintegrator" /> -->	
	<!-- <mvc:annotation-driven />
	<beans:bean id="userDetailsService" class="main.java.com.saasintegrator.service.UserDetailsServiceImpl">
	</beans:bean>
	-->
 <http auto-config="true">
 
		
		<intercept-url pattern="/login.html" filters="none" />
		<intercept-url pattern="/homepage.html" filters="none" />
		<intercept-url pattern="/contactus.html" filters="none" />
		<intercept-url pattern="/myservices.html" filters="none" />
		<intercept-url pattern="/aboutus.html" filters="none" />
		
		<intercept-url pattern="/images/**" filters="none" />
		<intercept-url pattern="/scripts/**" filters="none" />
		<intercept-url pattern="/themes/**" filters="none" />
		<intercept-url pattern="/js/**" filters="none" />
		<intercept-url pattern="/img/**" filters="none" />
		
		<intercept-url pattern="/logout" access="ROLE_USER,ROLE_ADMIN" />
			
		

	
  		<intercept-url pattern="/addservicecenter.html" access="ROLE_ADMIN" />
  		<intercept-url pattern="/addservicecenter1.html" access="ROLE_ADMIN" />
  		<intercept-url pattern="/viewservicecenter.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/viewusers.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/viewvehicles.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/addservice1.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/addservice.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/adduser.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/adduser1.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/addvehicle.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/addvehicle1.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/viewallvehicles.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/viewusers.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/transactions.html" access="ROLE_ADMIN" />
		<intercept-url pattern="/details.html" access="ROLE_ADMIN" />
		
		
		<intercept-url pattern="/change.html" access="ROLE_USER" />
		<intercept-url pattern="/updatepassword.html" access="ROLE_USER" />
		<intercept-url pattern="/myprofile.html" access="ROLE_USER" />
		<intercept-url pattern="/book.html" access="ROLE_USER" />
		<intercept-url pattern="/book1.html" access="ROLE_USER" />
		<intercept-url pattern="/generatecode.do" access="ROLE_USER" />
		<intercept-url pattern="/verifycode.do" access="ROLE_USER" />
		<intercept-url pattern="/myservices.html" access="ROLE_USER" />
		<intercept-url pattern="/myservicecenter.html" access="ROLE_USER" />
	
		
		<form-login login-page="/login.html" default-target-url="/select.html"
			always-use-default-target="true" authentication-failure-url="/login.html?auth=fail" />
		
		<logout logout-url="/j_spring_security_logout" 
			logout-success-url="/logout"
			invalidate-session="true" />
	</http>

	
	
	<beans:bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsService" />
	</beans:bean>

	<beans:bean id="authenticationManager"
		class="org.springframework.security.authentication.ProviderManager">
		<beans:property name="providers">
			<beans:list>
				<beans:ref bean="daoAuthenticationProvider" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>	